.faq {
  padding-bottom: 70px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @media (max-width: 540px) {
      margin-top: 30px;
    }
  }

  &__item {
    width: 60%;
    border-bottom: 3px solid var(--green);
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 100%;
    }

    &-title {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 15px;

      & h4 {
        max-width: 90%;
        
        @media (max-width: 540px) {
          max-width: 75%;
        }
      }

      & button {
        width: 50px;
        height: 50px;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
        color: #000;
        background-color: var(--green);
        transition: background-color 0.3s ease;

        & i {
          color: var(--white);
          transition: transform 0.3s ease;
        }
      }
    }

    &-subTitle {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      & p {
        text-indent: 30px;
        margin-bottom: 10px;
        line-height: 25px;
        text-align: justify;
        padding-right: 60px;

        @media (max-width: 991px) {
          padding-right: 0;
        }

        &:last-child {
          padding-bottom: 20px;
          margin-bottom: 0;
        }
      }

      & span {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: var(--green);
        margin-bottom: 20px;
      }
    }
  }
}

.faq-active {
  & button {
    background-color: var(--light-green);

    & i {
      transform: rotate(180deg);
    }
  }
}