@font-face {
  font-family: "MuseoSansCyrl";
  src: url("assets/fonts/museosanscyrl-700.eot");
  src:
    url("assets/fonts/museosanscyrl-700.woff2") format("woff2"),
    url("assets/fonts/museosanscyrl-700.woff") format("woff"),
    url("assets/fonts/museosanscyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("assets/fonts/museosanscyrl-900.eot");
  src:
    url("assets/fonts/museosanscyrl-900.woff2") format("woff2"),
    url("assets/fonts/museosanscyrl-900.woff") format("woff"),
    url("assets/fonts/museosanscyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("assets/fonts/MuseoSansCyrl500.eot");
  src: url("assets/fonts/MuseoSansCyrl500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --text: #949494;
  --dark: #1a1a1a;
  --light: #fff;
  --green: #36ba5f;
}

body {
  font-family: "MuseoSansCyrl";
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  margin-bottom: 80px;
}

h1 {
  color: var(--light);
  text-align: center;
  font-size: 60px;
  line-height: 72px;
  padding-top: 40px;
  font-weight: 900;
}

h2 {
  color: var(--dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

h4 {
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.box__shadow {
  border-radius: 16px;
  background: var(--light);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

/* top-section */

.top {
  margin-top: 40px;
  margin-bottom: 82px;
}

.top__wrapper {
  border-radius: 40px;
  background-image: url("./assets/img/top-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 306px;
}

.top__subtitle {
  margin: 0 auto;
  max-width: 535px;
  padding-top: 4px;
  color: var(--light);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.8px;
}

.top__list {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.top__item {
  padding: 15px 0;
  background-color: var(--light);
  border-radius: 12px;
  width: 160px;
}

.top__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  font-weight: 700;
}

/* socials-section */

.socials {
  margin: 0 auto 80px auto;
  max-width: 996px;
  border-radius: 40px;
  background: var(--light);
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
  padding: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials__text-top {
  color: var(--dark);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 18px */
  margin-bottom: 16px;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

/* questions-section */

.questions__title {
  margin-bottom: 32px;
  text-align: center;
}

.questions__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  gap: 24px;
}

.questions__item {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__item .item__text {
  align-self: self-start;
}

.questions__item .item__text h4 {
  margin-bottom: 8px;
}

.questions__item .item__text p {
  color: var(--text);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

/* reference-section */

.reference__title {
  text-align: center;
  margin-bottom: 32px;
}

.reference__item {
  width: 996px;
  margin: 0 auto 12px auto;
  position: relative;
  padding: 20px 24px;
  cursor: pointer;
}

.reference__item:last-child {
  margin-bottom: 0;
}

.reference__item::after {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("./assets/img/svg/arrow.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item__title h4:has(+ p) {
  margin-bottom: 4px;
}

.item__title p {
  width: 400px;
  color: var(--text);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.2px;
}
